__pycache__
# Developer stuff
UIFileConverter.ps1
developer_notes.txt
languages
settings.ini
# Do not include model files and logs
src/resources/user/models/**/*.pth
src/resources/models/**/*.pth
src/resources/user/logs/*.log