Pillow
audioread
tqdm==4.45.0
librosa==0.8.0
resampy==0.2.2
opencv-python
numba==0.53.0
numpy==1.21.0
samplerate
SoundFile
soundstretch
loguru
boto3
openunmix
musdb
SoundFile
scipy
norbert
asteroid>=0.5.0
onnxruntime-gpu
psutil
dora-search
pydub
audiosegment
pyglet
pyperclip
julius
pyyaml
natsort
pyAesCrypt
