asteroid>=0.5.0
audioread
audiosegment
boto3
dora-search
julius
librosa==0.8.0
loguru
musdb
natsort
norbert
numba==0.53.0
numpy==1.21.0
onnxruntime-gpu
opencv-python
openunmix
Pillow
psutil
pyAesCrypt
pydub
pyglet
pyperclip
pyyaml
