# Optimized build for Python 3.9 (as of Feb 2026)

# for onnxruntime-gpu
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-11/pypi/simple/
# for torch cuda 11.7
--extra-index-url https://download.pytorch.org/whl/cu117

wheel
ninja
setuptools<70.0.0

absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altgraph==0.17.3
antlr4-python3-runtime==4.9.3
asteroid==0.7.0
asteroid-filterbanks==0.4.0
async-timeout==5.0.1
attrs==25.4.0
audiomentations==0.24.0
audioread==3.0.0
beartype==0.14.1
cached-property==2.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.4.4
colorama==0.4.6
coloredlogs==15.0.1
contextlib2==21.6.0
contourpy==1.3.0
cryptography==3.4.6
cycler==0.12.1
Cython==3.2.4
decorator==5.2.1
diffq==0.2.4

scikit-learn==1.6.1
matplotlib==3.9.4
pandas==2.3.3
# fixed Dora 0.5.0 with scikit-learn
Dora @ https://github.com/NathanEpstein/Dora/archive/refs/heads/master.zip#sha256=ff7c35610b6c13484f36175432c5f22ff5ef9dfac03e7232c0a9cf9b63dcdb5b

efficientnet_pytorch==0.7.1
einops==0.6.0
filelock==3.19.1
flatbuffers==25.12.19
fonttools==4.60.2
frozenlist==1.8.0
fsspec==2025.10.0
future==0.18.3
huggingface-hub==0.17.3
humanfriendly==10.0
idna==3.11
importlib_resources==6.5.2
Jinja2==3.1.6
joblib==1.5.3
julius==0.2.7
kiwisolver==1.4.7
kthread==0.2.3
librosa==0.9.2
lightning-utilities==0.15.2
llvmlite==0.43.0
MarkupSafe==3.0.3
matchering==2.0.6
mir_eval==0.8.2
ml_collections==0.1.1
ml_dtypes==0.5.4
mpmath==1.3.0
multidict==6.7.1
munch==4.0.0
natsort==8.2.0
networkx==3.2.1
numba==0.60.0
numpy==1.23.5
omegaconf==2.2.3
onnx==1.19.1
onnx2pytorch==0.5.3
onnxruntime-gpu==1.16.3
opencv-python==4.6.0.66
packaging==26.0
patsy==1.0.2
pb-bss-eval==0.0.2
pesq==0.0.4
Pillow==9.3.0
platformdirs==4.4.0
playsound==1.2.2
pooch==1.9.0
pretrainedmodels==0.7.4
primePy==1.3
propcache==0.4.1
protobuf==4.25.1
psutil==5.9.4
pycparser==2.23
pydub==0.25.1
pyglet==1.5.23
pyparsing==3.3.2
pyperclip==1.8.2
pyreadline3==3.5.4
pyrubberband==0.3.0
PySoundFile==0.9.0.post1
pystoi==0.4.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.0.0
pytorch-ranger==0.1.1
pytz==2025.2
PyYAML==6.0
regex==2026.1.15
requests==2.32.5
resampy==0.4.2
rotary-embedding-torch==0.3.5
safetensors==0.7.0
samplerate==0.1.0
scipy==1.10.1
screeninfo==0.8.1
segmentation-models-pytorch==0.3.3
six==1.17.0
soundfile==0.11.0
soundstretch==1.2
spafe==0.3.2
statsmodels==0.14.6
sympy==1.14.0
threadpoolctl==3.6.0
timm==0.9.2
tkinterdnd2-universal==1.7.3
tokenizers==0.14.1
torch==2.0.0+cu117
torchaudio==2.0.1+cu117
torchvision==0.15.1+cu117
torch-audiomentations==0.12.0
torch-optimizer==0.1.0
torch-stoi==0.2.3
torch_pitch_shift==1.2.5
torchmetrics==0.11.4
torch-directml==0.2.0.dev230426
tqdm==4.67.3
transformers==4.35.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.12
wget==3.2
yarl==1.22.0
zipp==3.23.0
